---
layout: default
title: The Policy Lab
nav-title: Home
permalink: /
body-class: home
---

      <div class="illus__sky">
        <div class="l-wrapper__flex u__container">

          {% include header.html %}

          <main id="content" class="main__content u__spacing pb-0">
            <article class="main__article intro">
              <header class="intro__header">
                <h1 class="display-3"><i>Welcome to</i><i> </i> The Policy Lab</h1>
              </header>
              <div class="u__content">
                <p class="lead" style="max-width: 600px">We’re at the center of Rhode Island’s infrastructure for evidence-based policymaking.</p>
                <p class="lead">Let’s learn together.</p>
              </div>
            </article>
          </main>
        </div>
        {% include landscape.html %}
      </div>


      <section id="anchor-about" class="u__vspacing s__white">
        <article class="u__container">

          <div class="u__spacing">
            <div class="row">
              <div class="col-md-3 col-lg-4">
                <h2 class="h1">Why We’re Here</h2>
              </div>
              <div class="col-md-9 col-lg-8">
                <p class="lead">The Policy Lab is a new partnership between the State of Rhode Island and Brown University, where experts from government, universities, and the community collaborate on research tailored to inform decisions about how to improve policy and program operations.</p>
                <p>The partnership is also a vehicle for increasing staff training and capacity to complete such work, by way of onsite training and courses, fellowships, speaker and event series, curating a statewide integrated data system, and other activities to foster a community of practice around the research.  </p>
              </div>
            </div>
          </div>

        </article>
      </section>


      <section id="anchor-events" class="u__vspacing s__light">
        <article class="u__container u__spacing events">
          <div class="row">
            <div class="col-md-3 col-lg-4">
              <h2 class="h1">Events</h2>
            </div>
            <div class="col-md-9 col-lg-8">

              {% include events.html %}

            </div>
          </div>
        </article>
      </section>


      <section id="anchor-connect" class="u__vspacing s__primary target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-3 col-lg-4">
              <h2 class="h1">Get Updates</h2>
            </div>
            <div class="col-md-9 col-lg-8">
              <p class="lead">Sign up to get updates on projects, events, and our upcoming podcast, <em>30,000 Leagues</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section>


      <section id="anchor-theory" class="u__vspacing s__white">
        <article class="u__container">

          <div class="u__spacing">
            <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Theory of Change</h2>
            <p class="text-center lead pb-sm-3 pb-lg-5">We look to improve policy outcomes through three focus areas:</p>

            <div class="container pb-sm-3 pb-lg-5">
              <div class="row">
                <div class="col-sm shadow p-4 pb-0 mx-sm-2 mx-lg-3">
                  <p class="text-center"><img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-generating-evidence.svg" alt="" aria-hidden="true" /></p>
                  <p class="text-center">Generating evidence to fill knowledge gaps</p>
                </div>
                <div class="col-sm shadow p-4 pb-0 mx-sm-2 mx-lg-3">
                  <p class="text-center"><img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-integrating-evidence.svg" alt="" aria-hidden="true" /></p>
                  <p class="text-center">Integrating that evidence into planning, budget, procurement, and performance management processes</p>
                </div>
                <div class="col-sm shadow p-4 pb-0 mx-sm-2 mx-lg-3">
                  <p class="text-center"><img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-building-coalitions.svg" alt="" aria-hidden="true" /></p>
                  <p class="text-center">Building coalitions across government, academic institutions, and community organizations to support evidence-based policy</p>
                </div>
              </div>
            </div>
          </div>

          <div class="u__spacing u__container u__content">
            <h3 class="h5 text-center font-weight-bold">The three areas are extremely codependent.</h3>
            <p class="text-center">While many approaches to this work focus on one or two areas at a time, building a culture of evidence-based policymaking requires us to pursue all three simultaneously.</p>
          </div>
        </article>
      </section>


      <section id="anchor-jobs" class="u__vspacing s__gray">
        <article class="u__container u__spacing jobs">
          <div class="row">
            <div class="col-md-3 col-lg-4">
              <h2 class="h1">Join Our Team</h2>
            </div>
            <div class="col-md-9 col-lg-8">
              <p class="lead">We’re looking for self-starters and team players to help us identify, develop, and complete projects across a wide range of policy areas. </p>
              <ul class="list-unstyled jobs__list">
                <li class="jobs__list__item"><a href="#">Senior Data Scientist, Full-Time</a></li>
                <li class="jobs__list__item"><a href="#">Engineering Practices Lead, Contract</a></li>
                <li class="jobs__list__item"><a href="#">Front-End Web Developer, Contract</a></li>
                <li class="jobs__list__item"><a href="#">Full-Stack Web Developer, Contract</a></li>
              </ul>
              <p>Don’t see what you’re looking for? <a href="mailto:policylab@brown.edu?subject=A career at the Policy Lab">Send us a message!</a></p>
            </div>
          </div>
        </article>
      </section>

      {% comment %}
      <section id="anchor-team" class="u__vspacing s__light">
        <article class="u__container">
          <div class="u__spacing">
            <h2 class="h1 text-center">Our Team</h2>
          </div>
          <div class="container u__spacing team py-0">
            <div class="row justify-content-center">
              {% for member in site.team %}
                {% include team-teaser.html %}
              {% endfor %}
            </div>
          </div>
        </article>
      </section>
      {% endcomment %}
