            {%- capture now %}{{'now' | date: '%Y%m%d'}}{% endcapture -%}
            {%- assign now = now | plus: 0 -%}
            {%- assign counter = 0 -%}
            {%- for event in site.events -%}
              {%- capture posttime %}{{ event.date | date: '%Y%m%d'}}{% endcapture -%}
              {%- assign posttime = posttime | plus: 0 -%}
              {%- if posttime > now -%}
                {%- increment counter -%}
              <div class="events__description">
                <h3 class="events__title">
                  {%- if event.register-link -%}
                  <a href="{{ event.register-link }}" class="events__link" target="_blank" rel="nofollow">
                  {%- endif -%}
                    {{- event.title -}}
                  {%- if event.register-link -%}
                  </a>
                  {%- endif -%}
                </h3>
                {%- if event.speaker -%}
                <p class="h5 alt-bold events__speaker">{{ event.speaker }}</p>
                {%- endif -%}

                <p class="h5 events__date">
                  <time datetime="{{ event.date }}">{{ event.date | date: '%A, %B %d, %Y' }}{% if event.time %}, {{ event.time }}{% endif %}</time>
                </p>
                {%- if event.location-1 -%}
                <p class="h5 events__location">
                  {{- event.location-1 -}}{%- if event.location-2 -%}<br>{{- event.location-2 -}}{%- endif -%}
                </p>
                {%- endif -%}
                {%- if event.location-url -%}
                <p class="h5 alt-bold events__map-link">
                  <a href="{{ event.location-url }}" target="_blank" rel="nofollow">
                    <span class="events__map__text">Map &rarr;</span>
                  </a>
                </p>
                {%- endif -%}

                {%- if event.register-link -%}
                <p class="h5 alt-bold events__register-link">
                  <a href="{{ event.register-link }}" target="_blank" class=events__register__link"" rel="nofollow">
                    {%- if event.register-text -%}{{ event.register-text }} &rarr;
                    {%- else -%}Register &rarr;{%- endif -%}
                  </a>
                </p>
                {%- endif -%}

                {% if event.content %}
                  {{ event.content }}
                {% endif %}
              </div>
              {%- endif -%}
            {%- endfor -%}
            {%- unless counter > 0 -%}
              <div class="events__description">
                {% comment %}<h3 class="events__title">There are no upcoming events scheduled at this time.</h3>{% endcomment %}
                <h3>In response to the coronavirus, we have suspended our in-person events</h3>
                <p>To learn more about the response to Covid-19, check out <a href="http://thirtythousandleagues.com">our episode of 30,000 Leagues featuring Dr. Philip Chan</a>, an infectious disease expert who's part of the coronavirus response team in Rhode Island, and <a href="http://thirtythousandleagues.com">our latest episode with Dr. James McDonald</a> about Rhode Island's framework for re-opening the state.</p>
              </div>
            {%- endunless -%}
