      <footer id="anchor-contact" class="main__footer footer s__dark target-cynosure">
        <div class="u__container u__spacing">
          <div class="row align-items-end">
            <div class="col-md-6 col-lg-8 col-xl-9">
              <p class="text-center text-md-left">
                <img class="brand__img img--rwd partner-seal austin-seal " alt="City of Austin" src="{{ site.baseurl }}/assets/img/austin-seal.svg">
                <img class="brand__img img--rwd partner-seal travis-seal mx-3" alt="Travis County" src="{{ site.baseurl }}/assets/img/travis-county-seal.png">
              </p>
              <!-- <p class="text-center text-md-left">
                <a href="mailto:info@civicfutures.io">info@civicfutures.io</a>
              </p> -->
              <p class="text-center text-md-left m-0">
                <small>An official website of the City of Austin, Travis County, and partners across Central Texas</small>
              </p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pt-5 pt-md-0">
              {% include mailchimp.html %}
            </div>
          </div>
        </div>
      </footer>
