      <footer id="anchor-contact" class="main__footer footer u__vspacing s__dark target-cynosure">
        <div class="u__container u__spacing">
          <div class="row align-items-end">
            <div class="col-md-6 col-lg-8 col-xl-9">
              <p class="text-center text-md-left">
                <img class="brand__img img--rwd" alt="Brown University" src="{{ site.baseurl }}assets/img/brown-policy-lab-white.svg">
              </p>
              <address class="text-center text-md-left">
                <a href="https://www.google.com/maps/place/201+Thayer+St,+Providence,+RI+02912/@41.826929,-71.4023595,17z/data=!3m1!4b1!4m5!3m4!1s0x89e4453b55e6a855:0x94a27be7adf3f12!8m2!3d41.826925!4d-71.4001655">
                  <span>Brown University Sciences Library</span>
                  <span>201 Thayer Street, </span>
                  <span>Providence RI 02912</span>
                </a>
              </address>
              <p class="text-center text-md-left">
                <a href="mailto:policylab@brown.edu">policylab@brown.edu</a>
                <a class="breaker" href="tel:555-555-5555">(555) 555-5555</a>
              </p>
              <p class="text-center text-md-left m-0">
                <small>An official website of Brown University and the State of Rhode Island</small>
              </p>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 pt-5 pt-md-0">
              {% include mailchimp.html %}
            </div>
          </div>
        </div>
      </footer>
