<head>
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="//use.typekit.net">
	<link rel="dns-prefetch" href="//cloud.typography.com">
	<link rel="dns-prefetch" href="//www.googletagmanager.com">
	<link rel="dns-prefetch" href="//code.jquery.com">
	<link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
	<link rel="preconnect" href="//brown.us20.list-manage.com">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-site-verification" content="wkcAVWy8ClxzqSm5y4O1zgeSVSi3QBaFD69VQP5YNvQ">

	<meta property="og:type" content="website">
	<meta property="og:title" content="The Policy Lab">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:image" content="{{ '/' | relative_url }}assets/img/share-image.jpg">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">

  <title>{% if page.html-title %}{{ page.html-title }} | BPL{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" type="text/css" href="https://use.typekit.net/wag1nll.css">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7022116/7515612/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="{{ '/' | relative_url }}assets/css/main.css">
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134641342-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-134641342-1');
	</script>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | relative_url }}assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | relative_url }}assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | relative_url }}assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ '/' | relative_url }}assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{ '/' | relative_url }}assets/favicons/safari-pinned-tab.svg" color="#007ea8">
  <meta name="msapplication-TileColor" content="#007ea8">
  <meta name="theme-color" content="#007ea8">
  {% comment %}
  <!--Global site tag (gtag.js) - Google Analytics-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134641342-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134641342-1');
  </script>
  {% endcomment %}
</head>
