      <figure class="main__banner illus" role="banner">
        <div class="cloud cloud-1" style="background-image: url('{{ '/' | relative_url }}assets/illus/single-cloud.svg');" aria-hidden="true"></div>
        <div class="cloud cloud-2" style="background-image: url('{{ '/' | relative_url }}assets/illus/single-cloud.svg');" aria-hidden="true"></div>
        <div class="cloud cloud-3" style="background-image: url('{{ '/' | relative_url }}assets/illus/single-cloud.svg');" aria-hidden="true"></div>
        <img class="illus__indy" alt="" src="{{ '/' | relative_url }}assets/illus/industrial-trust.svg">
        <img class="illus__rural" alt="" src="{{ '/' | relative_url }}assets/illus/rural-community.svg">
        <img class="illus__textron" alt="" src="{{ '/' | relative_url }}assets/illus/textron-bldg.svg">
        <img class="illus__bridge" alt="" src="{{ '/' | relative_url }}assets/illus/bridge.svg">
        <img class="illus__statehouse" alt="" src="{{ '/' | relative_url }}assets/illus/state-house.svg">
        <figcaption>An illustration of rolling green hills with small, rural houses in the foreground. In the middle is the Rhode Island state house. To the right is a downtown city scene with large buildings of glass and stone.</figcaption>
      </figure>