      <figure class="main__banner illus" role="banner">
        <div class="cloud cloud-1" style="background-image: url('{{ '/' | relative_url }}assets/illus/single-cloud.svg');" aria-hidden="true"></div>
        <div class="cloud cloud-2" style="background-image: url('{{ '/' | relative_url }}assets/illus/single-cloud.svg');" aria-hidden="true"></div>
        <div class="cloud cloud-3" style="background-image: url('{{ '/' | relative_url }}assets/illus/single-cloud.svg');" aria-hidden="true"></div>
      </figure>
