      <figure class="main__banner illus" role="banner">
        <div class="panel panel-purple" style="background-image: url('{{ '/' | relative_url }}assets/illus/panel-purple.png');" aria-hidden="true"></div>
        <div class="panel panel-blue" style="background-image: url('{{ '/' | relative_url }}assets/illus/panel-blue.png');" aria-hidden="true"></div>
        <div class="panel panel-green" style="background-image: url('{{ '/' | relative_url }}assets/illus/panel-green.png');" aria-hidden="true"></div>
        <div class="panel panel-orange" style="background-image: url('{{ '/' | relative_url }}assets/illus/panel-orange.png');" aria-hidden="true"></div>
        <div class="panel panel-yellow" style="background-image: url('{{ '/' | relative_url }}assets/illus/panel-yellow.png');" aria-hidden="true"></div>
      </figure>
