      <div id="anchor-signup" class="mc">
        <div id="mc_embed_signup">
          <h2 class="h6 text-center text-md-left">get updates</h2>
          <form action="https://civicfutures.us3.list-manage.com/subscribe/post?u=3bc435cca7862696ec457664f&amp;id=c6e957ebce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline mc__form justify-content-center justify-content-md-start" target="_blank">
            <div id="mc_embed_signup_scroll" class="form-group mc__wrapper">
              <label for="mce-EMAIL" class="mc__label sr-only">Please provide your email address:</label>
              <input type="email" name="EMAIL" class="form-control mc__input" id="mce-EMAIL" placeholder="name@email.com" required="" value="">
              <div class="mc__nectar" aria-hidden="true"><input type="text" name="b_3bc435cca7862696ec457664f_c6e957ebce" tabindex="-1" value=""></div>
              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary mc__button" value="Submit">
            </div>
          </form>
        </div>
      </div>
