          {% comment %}
            This is a mix of custom BEM SASS classes and Bootstrap
            - main__nav: Our BEM class for layout
            - nav and nav__*: Our BEM style hooks
            - navbar and nav-*: Bootstrap classes, unstyled in our project
          {% endcomment %}
          <div class="nav__container fixed-top">
            <nav id="main-nav" class="main__nav navbar navbar-expand-lg u__container nav">

              <a href="#content" class="nav-link nav__link nav__skip sr-only sr-only-focusable js-smoothscroll">Skip to main content</a>

              <button class="navbar-toggler nav__button" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nav__button__icon">&equiv;</span>
                <span class="nav__button__text" style="font-weight: 600; padding-top: 0.2em;"><span class="sr-only">Open the </span>Menu</span>
              </button>
              <div class="collapse navbar-collapse nav__pane" id="navbarContent">
                <ul class="navbar-nav nav__list" role="navigation">

                  <li class="nav-item nav__item">
                    <a href="{{ '/' | relative_url }}#about" class="nav-link nav__link js-smoothscroll">about</a>
                  </li>

                  <li class="nav-item nav__item">
                    <a href="{{ '/' | relative_url }}#register" class="nav-link nav__link js-smoothscroll">register</a>
                  </li>

                  <li class="nav-item nav__item">
                    <a href="{{ '/' | relative_url }}#awards" class="nav-link nav__link js-smoothscroll">nominate</a>
                  </li>

                  <!-- <li class="nav-item nav__item">
                    <a href="{{ '/' | relative_url }}/mainstage" class="nav-link nav__link js-smoothscroll">mainstage</a>
                  </li>

                  <li class="nav-item nav__item">
                    <a href="{{ '/' | relative_url }}#awards" class="nav-link nav__link js-smoothscroll">awards</a>
                  </li>

                  <li class="nav-item nav__item">
                    <a href="{{ '/' | relative_url }}/workshops" class="nav-link nav__link js-smoothscroll">workshops</a>
                  </li> -->

                  <li class="nav-item nav__item ml-lg-auto">
                    <a href="{{ '/' | relative_url }}#register" class="nav-link nav__link btn btn-outline-primary js-smoothscroll">get tickets</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
