//
// Color system
//

// Custom values for Brown Policy Lab
$white:    #fff;
//$gray-100: #f8f9fa !default;
$gray-200: #e1e1e5;
$gray-300: #bcbbc4;
$gray-400: #a4a2ae;
$gray-500: #797788;
$gray-600: #504e5a;
$gray-700: #3d3c45;
//$gray-800: #343a40 !default;
$gray-900: #222;
$black:    #101010;


// Main brand colors
$policy-blue: #06749c;
$policy-blue__h: 196;
$policy-blue__s: 96;
$policy-blue__l: 61;

$policy-cream: #f3eede;
$policy-cream__h: 46;
$policy-cream__s: 9;
$policy-cream__l: 95;

$policy-green: #acbe37;
$policy-green__h: 68;
$policy-green__s: 71;
$policy-green__l: 75;

$policy-sky: #9ddce1;

// Tints
$tint__policy-blue__lightest: hsl($policy-blue__h, 100, 92); // #d6f5ff!
$tint__policy-blue__rich: #003e6b; // hsb(205, 100, 42)


// Generic variables
$color__body-fg: $gray-700;
// Make the body bg the same as the footer bg.
// This makes the page seamless when the body is shorter than the viewport height.
$color__body-bg: $gray-700;

$color__link: $policy-blue;
$color__link-hover: $tint__policy-blue__rich;
$color__link-focus: $policy-blue;

$color__borders: $gray-200;


// Bootstrap color variables

//$blue: $tint__policy-blue__dark;
//$indigo:  #6610f2;
//$purple:  #6f42c1;
//$pink:    #e83e8c;
//$red:     #dc3545;
//$orange:  #fd7e14;
//$yellow:  #ffc107;
$green: $policy-green;
//$teal:    #20c997;
$cyan: #70cfef; // used on buttons so far

$primary: $policy-blue;
$secondary: $tint__policy-blue__rich;
$success: $policy-green;
$info: $policy-sky;
//$warning:       $yellow;
//$danger:        $red;
$light: $policy-cream;
//$dark:          $gray-800;

// Set a specific jump point for requesting color jumps
//$theme-color-interval:      8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
//$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
//$yiq-text-dark:             $gray-900;
//$yiq-text-light:            $white;
