// Define a "System" font stack for fallbacks
@font-face {
  font-family: 'System Sans';
  font-style: normal;
  font-weight: normal;
  src: local(".SFNSText-Light"),
       local(".HelveticaNeueDeskInterface-Light"),
       local(".LucidaGrandeUI"),
       local("Ubuntu Light"),
       local("Segoe UI Light"),
       local("Roboto-Light"),
       local("DroidSans"),
       local("Tahoma");
}

// Define the family and weights
$font-name__custom: 'Rajdhani';

$font-stack__sans: 'System Sans', 'Segoe UI', 'Lucida Grande', sans-serif;
$font-stack__serif: Georgia, TimesNewRoman, 'Times New Roman', serif;
$font-stack__mono: monospace;

$font-stack__custom: $font-name__custom, $font-stack__sans;

$font-weight__normal: 400;
$font-weight__medium: 600;
$font-weight__bold: 700;

$line-height__base: 1.33; // This font family needs tighter line-height
$line-height__tight: 1;
$line-height__loose: 1.625;
