////
/// Required list of sizes for typographics elements
/// 1) Set base font sizes for mobile first
/// 2) Set the desired sizes for desktop
/// Mixins will fluidly change between the two values
////


/// Typographic Scales Map
/// List as unitless pixels, use SASS function to convert to whatever you want
///
/// Use the same $key names as the corresponding breakpoint in layout/_breakpoints.scss $breakpoints
///
$type-sizes: (

  // 1.16 typographic scale base 20
  // scss-lint:disable DeclarationOrder
  base: (
    micro: 14,
    base: 16,
    h6: 17,
    h5: 18,
    h4: 21,
    h3: 26,
    h2: 30,
    h1: 38,
    display-4: 42,
    display-1: 64
  ),

  // 1.25 typographic scale base 22
  // scss-lint:disable DeclarationOrder
  x-large: (
    micro: 14,
    base: 16,
    h6: 18,
    h5: 20,
    h4: 24,
    h3: 32,
    h2: 36,
    h1: 50,
    display-4: 60,
    display-1: 110
  ),
);
