.splash {
  
  &__header {
    h1 {
      text-transform: lowercase;
      
      i {
        font-family: $font-stack__serif;
        font-size: 87.5%;
        font-weight: normal;
        letter-spacing: 0;
        
        //@include media-breakpoint-up($bp-lg) {
          &::before {
            content: "\A";
            white-space: pre;
          }
        //}
      }
    }
  }
  
  &__content {
    
    p {
      font-weight: $font-weight__medium;
      max-width: 48ch;
    }
  }
}