// General global styles. Some override settings in USWDS

// Placeholder extend for DRY
%fluid-gutter {
  @include fluid-units(
    'padding-left' 'padding-right',
    $gutter-min,
    $gutter-max,
    strip-unit(rem(bp(small))),
    strip-unit(rem(bp(large)))
  );
}

// Flexible gutter helper
%margin-right {
  @include fluid-units('margin-right', $gutter-min, $gutter-max, $min-vw, $max-vw);
}

%margin-left {
  @include fluid-units('margin-left', $gutter-min, $gutter-max, $min-vw, $max-vw);
}


// Classes
.img {
  &--rwd {
    // The framework is not opinionated
    // Add this class to force an image to be responsive
    display: block;
    max-width: 100%;
  }
}

// No max width, just padding
.u-wrapper {
  @extend %fluid-gutter;
  padding-top: $vertical-rhythm;
  padding-bottom: $vertical-rhythm;
  max-width: $max-width;
}
