// Project mixins and reusable bits

// Spacing variables in any direction
@mixin spacing($direction: 'all') {
  @if $direction != 'all' 
    and $direction != 'x'
    and $direction != 'l' 
    and $direction != 'r'  
    and $direction != 'y' 
    and $direction != 't' 
    and $direction != 'b' {
    @warn '$direction is not a valid arguement for spacing()';
  }
  @if $direction == 'all' {
    padding: var(--v-rhythm) var(--gutter);
  }
  @if $direction == 'x' {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
  @if $direction == 'l' {
    padding-left: var(--gutter);
  }
  @if $direction == 'r' {
    padding-right: var(--gutter);
  }
  @if $direction == 'y' {
    padding-top: var(--v-rhythm);
    padding-bottom: var(--v-rhythm);
  }
  @if $direction == 't' {
    padding-top: var(--v-rhythm);
  }
  @if $direction == 'b' {
    padding-bottom: var(--v-rhythm);
  }
}
