.brand {
  text-align: center;
  position: relative;
  white-space: nowrap;
  z-index: z(brand);

  &__link {}

  &__seal,
  &__img {
    display: inline-block;
  }

  &__seal {
    @extend %margin-right;
    max-width: 90px;

    @include for-old-ie {
      // When using max- values, IE will assume the dimensions are the same in both directions
      // Therefore, with a max-width of 90px we were getting a max-height of 90px
      max-height: 86px;
    }
  }

  &__img {
    max-width: 90px;

    @include for-old-ie {
      // When using max- values, IE will assume the dimensions are the same in both directions
      // Therefore, with a max-width of 140px we were getting a max-height of 140px
      max-height: 70px;
    }
  }
}
