.brand {
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: right;
  }

  &__img {
    display: inline-block;
    max-width: 140px;
    
    @include for-old-ie {
      // When using max- values, IE will assume the dimensions are the same in both directions
      // Therefore, with a max-width of 140px we were getting a max-height of 140px
      max-height: 70px;
    }
  }
}
