// <div class="city--header city__sky">
//   <img class="city--footer city__cityscape" src="{{ '/' | relative_url }}assets/illus/cityscape_nosky.png" alt="">
// </div>

.city {
  
  &__cityscape {
    @extend .img--rwd;
  }
  
  &--header {
    $min-value: -340;
    $max-value: 0;
    $min-vw: 480;
    $max-vw: 1200;
    $unit: 1px;
    
    margin-left: fluid-calc($min-value, $max-value, $min-vw, $max-vw, $unit);
    margin-right: fluid-calc($min-value, $max-value, $min-vw, $max-vw, $unit);
    position: relative;
    
    img {
      position: relative;
      z-index: 10;
    }
    
    @include media-breakpoint-up(xl) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  &--footer {}
}
