// Keyframes
@keyframes animate-cloud {
  0% {
    transform: translate3d(-15vw,0,0);
  }
  100% {
    transform: translate3d(115vw,0,0);
  }
}

.panel {
  animation-name: animate-cloud;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  // left: 0;
  z-index: z(cloud);
}

.panel-purple {
  animation-duration: 60s;
  animation-delay: .5s;
  height: 100%;
  width: 100%;
  left: 71%;

  @include media-breakpoint-up(sm) {
    // height: 4.5vw;
    // width: 7.5vw;
  }
}

// Furthest one back. Smallest and the slowest
.panel-blue {
  animation-duration: 62s;
  animation-delay: .85s;
  height: 100%;
  width: 100%;
  left: 54%;


  @include media-breakpoint-up(sm) {
    // height: 3vw;
    // width: 5vw;
  }
}

.panel-green {
  animation-duration: 58s;
  animation-delay: .7s;
  height: 100%;
  width: 100%;
  left: 32%;


  @include media-breakpoint-up(sm) {

  }
}


.panel-orange {
  animation-duration: 64s;
  animation-delay: .65s;
  height: 100%;
  width: 100%;
  left: 6%;


  @include media-breakpoint-up(sm) {

  }
}

.panel-yellow {
  animation-duration: 56s;
  animation-delay: .5s;
  height: 100%;
  width: 36%;
  left: -15%;

  @include media-breakpoint-up(sm) {

  }
}


@include for-old-ie {
  .panel {
    @include hide();
    animation-name: none;
  }
}
