// Keyframes
@keyframes animate-cloud {
  from {
    left: -50%;
  }
  to {
    left: 150%;
  }
}

#moving-panels {
  height: 64px;
}

.panel {
  animation-name: animate-cloud;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  // left: 0;
  z-index: z(cloud);
  height: 720px;
}

.panel-purple {
  animation-duration: 60s;
  animation-delay: .47s;
  width: 645px;
  margin-left: 112%;

  @include media-breakpoint-up(sm) {
    // height: 4.5vw;
    // width: 7.5vw;
  }
}

// Furthest one back. Smallest and the slowest
.panel-blue {
  animation-duration: 62s;
  animation-delay: .48s;
  width: 600px;
  margin-left: 84%;


  @include media-breakpoint-up(sm) {
    // height: 3vw;
    // width: 5vw;
  }
}

.panel-green {
  animation-duration: 58s;
  animation-delay: .52s;
  width: 578px;
  margin-left: 38%;


  @include media-breakpoint-up(sm) {

  }
}


.panel-orange {
  animation-duration: 64s;
  animation-delay: .51s;
  width: 645px;
  margin-left: -8%;


  @include media-breakpoint-up(sm) {

  }
}

.panel-yellow {
  animation-duration: 56s;
  animation-delay: .5s;
  width: 617px;
  margin-left: -42%;

  @include media-breakpoint-up(sm) {

  }
}


@include for-old-ie {
  .panel {
    @include hide();
    animation-name: none;
  }
}
