.footer {
  
  &__logo {
    @include media-breakpoint-up(xl) {
      float: left;
      width: 180px;
      margin-right: 1rem;
    }
  }
  
  address span,
  p a {
    white-space: nowrap;
  }
  
  address a {
    display: block;
    text-decoration: none;
    
    > span:first-child {
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
  
  .breaker {
    @include media-breakpoint-up(sm) {
      &::before {
        content: ' | ';
        margin: 0 0.375rem;
      }
    }
  }
}
