.header {
  // Showing/hiding is in Layout
  
  .layout__team & {
    background-color: $white;
    margin-top: rem(54); // account for the fixed header
    margin-left: auto;
    
    > div {
      @extend .u__container;
      @include fluid-units(
        'padding-top' 'padding-bottom',
        ($vertical-min / 2),
        ($vertical-max / 2),
        strip-unit(rem(bp(small))),
        strip-unit(rem(bp(x-large)))
      );
    }
  }
}
