// Z-index illustration parts and ordering

// Figure
.illus {
  // Locally scoped
  $min-vw: 320;
  $max-vw: 1440;

  $min-aspect: 4 3;
  $min-height: $min-vw * (nth($min-aspect, 2) / nth($min-aspect, 1));

  $max-aspect: 9 3;
  $max-height: $max-vw * (nth($max-aspect, 2) / nth($max-aspect, 1));

  $unit: 1px;

  // Important styles for the container to work
  min-height: ($min-height * 1px);
  height: fluid-calc($min-height, $max-height, $min-vw, $max-vw, $unit);
  max-height: ($max-height * 1px);

  // Other styles
  // border-bottom: 5vh solid $primary;
  margin-bottom: 0;
  position: relative;
  z-index: z(illus);

  // "Suck" the illustration up into the Intro area
  @include media-breakpoint-up(lg) {
    margin-top: fluid-calc(0, -200, bp(medium), bp(xx-large), 1px);
    pointer-events: none;
  }

  // Vertical media query
  // When the viewport is tall, force the illustration to be taller
  @media (min-width: em(1200)) and (min-height: em(800)) {
    height: 65vh;
    max-height: none;
  }

  // All images
  img {
    position: absolute;
    bottom: -1px;
    transform: translateX(-50%);
    z-index: (z(illus) + 1);
  }

  // Use the figcaption as a screen reader description
  figcaption {
    @include sr-only;
  }

  &__sky {
    background: linear-gradient($white 5%, $tint__policy-blue__lightest 65%);
    padding-top: em(54); // Height of the Fixed navbar
  }

  // Wayyy in the back
  img#{&}__clouds {
    right: 0;
    transform: none;
    $min-t: -45;
    $max-t: -150;
    $min-w: 260;
    $max-w: 800;

    top: fluid-calc($min-t, $max-t, $min-vw, $max-vw, $unit);
    width: fluid-calc($min-w, $max-w, $min-vw, $max-vw, $unit);
  }

  // In the back
  &__indy {
    $min-l: 240;
    $max-l: 1000;
    $min-w: 100;
    $max-w: 200;

    left: fluid-calc($min-l, $max-l, $min-vw, $max-vw, $unit);
    width: fluid-calc($min-w, $max-w, $min-vw, $max-vw, $unit);
  }

  &__bridge {
    $min-l: 300;
    $max-l: 1220;
    $min-w: 160;
    $max-w: 400;

    left: fluid-calc($min-l, $max-l, $min-vw, $max-vw, $unit);
    width: fluid-calc($min-w, $max-w, $min-vw, $max-vw, $unit);
  }

  &__textron {
    $min-l: 335;
    $max-l: 1380;
    $min-w: 83;
    $max-w: 175;

    left: fluid-calc($min-l, $max-l, $min-vw, $max-vw, $unit);
    width: fluid-calc($min-w, $max-w, $min-vw, $max-vw, $unit);
  }

  // Behind the State House
  &__rural {
    $min-l: 30;
    $max-l: 220;
    $min-w: 280;
    $max-w: 800;

    left: fluid-calc($min-l, $max-l, $min-vw, $max-vw, $unit);
    width: fluid-calc($min-w, $max-w, $min-vw, $max-vw, $unit);
  }

  // In the front
  &__statehouse {
    left: 50%;
    $min-w: 200;
    $max-w: 480;

    width: fluid-calc($min-w, $max-w, $min-vw, $max-vw, $unit);
  }
}
