.intro {

  &__header {
    text-align: center;

    h1 {
      color: $tint__policy-blue__rich;
      
      // Force a line break
      .text-uppercase::after {
        content: "\A";
        white-space: pre;
      }
    }
  }
  
  &__content {
    text-align: center;
    
    br {
      @include hide();
      
      @include media-breakpoint-up(md) {
        @include show(inline);
      }
    }
  }
}

.theory {
  &__wrapper {
    background: center no-repeat url('../img/splatter-pattern.png') percent-color($policy-cream, 50);
  }
  
  &__icon {
    @extend .img--rwd;
    max-width: 140px;
    margin: $spacer auto;
  }
}
