.intro {

  &__header {
    h1 {
      font-weight: $font-weight-bold;
      font-size: calc(3em + 10vw);
      line-height: 0.8em; // even tighter than tight
      padding-top: 0.25em;
      text-transform: none;

      i {
        font-family: $font-stack__serif;
        font-size: 93.75%;
        font-weight: normal;
        letter-spacing: 0;
        text-transform: lowercase;

        // Force a line break
        &::after {
          content: "\A";
          white-space: pre;
        }
      }
    }
  }
}

.theory {
  &__icon {
    @extend .img--rwd;
    max-width: 140px;
    margin: $spacer auto;
  }
}
