.intro {
  
  &__header {
    h1 {
      font-weight: $font-weight-bold;
      line-height: 0.9; // even tighter than tight
      padding-top: 0.25em;
      
      i {
        font-family: $font-stack__serif;
        font-size: 93.75%;
        font-weight: normal;
        letter-spacing: 0;
        
        // Force a line break
        &::before {
          content: "\A";
          white-space: pre;
        }
      }
    }
  }
}

.theory {
  &__icon {
    @extend .img--rwd;
    max-width: 140px;
    margin: $spacer auto;
  }
}
