// Hide the MailChimp Honeypot
.mc {
  
  .connect & .text-center {
    text-align: left !important;
  }
  
  .connect & .justify-content-center {
    justify-content: left !important;
  }
  
  &__form,
  &__wrapper {
    margin-bottom: 0;
  }
  
  &__wrapper {
    display: flex;
    align-items: stretch !important;
  }
  
  &__label {}
  
  &__input {
    border-radius: 0;
    padding-left: ($spacer * 0.75);
    padding-right: ($spacer * 0.75);
  }
  
  &__nectar {
    @include sr-only;
  }
  
  &__button {
    @include one-element-size(micro);
    padding-top: ($spacer * 0.625);
    padding-bottom: ($spacer * 0.5625);
    padding-left: $spacer;
    padding-right: $spacer;
    text-transform: uppercase;
  }
}
