.layout__reflection {
  // account for the positioned navbar
  padding-top: $nav-height__sm;

  @include media-breakpoint-up(lg) {
    padding-top: $nav-height__lg;
  }

  .l-wrapper {
    background-color: $white;
    padding-top: 0;
  }
}

.reflection {
  &__content {
    &__img-wrapper,
    &__header {
      background-color: $policy-cream;
    }

    &__img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 50vw;
      max-height: 50vw;
      max-width: $max-width;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        min-height: 40vw;
        max-height: 40vw;
      }

      @include media-breakpoint-up(xl) {
        min-height: 30vw;
        max-height: 30vw;
      }

      @include media-breakpoint-up(xxl) {
        min-height: 456px;
        max-height: 456px;
      }
    }

    &__reflections-link {
      color: $gray-600;
      font-weight: $font-weight__bold;
    }

    &__title {
      color: $gray-700;
      text-transform: capitalize;
    }

    &__authors-wrapper {
      margin-top: spacer(6);
    }

    &__author__link {
      display: inline-block;
    }

    &__body {
      h2 {
        font-family: $font-stack__sans !important;
      }

      img {
        max-width: 100%;
      }

      figure {
        border: $border-width solid $border-color;
        border-radius: $border-radius;
        padding: spacer(3);

        figcaption {
          margin-top: spacer(3);
          padding-top: spacer(3);
          border-top: $border-width solid $border-color;
        }
      }
    }
  }
}
