.layout__reflection {
  // account for the positioned navbar
  padding-top: $nav-height__sm;

  @include media-breakpoint-up(lg) {
    padding-top: $nav-height__lg;
  }
}

.reflection {
  &__content {
    background-color: $white;
    
    &__img-wrapper,
    &__header {
      background-color: $policy-cream;
    }

    &__img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 50vw;
      max-height: 50vw;
      max-width: $max-width;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        min-height: 40vw;
        max-height: 40vw;
      }

      @include media-breakpoint-up(xl) {
        min-height: 30vw;
        max-height: 30vw;
      }

      @include media-breakpoint-up(xxl) {
        min-height: 456px;
        max-height: 456px;
      }
    }

    &__landing-link {
      color: $gray-600;
      font-weight: $font-weight__bold;
    }

    &__title-wrapper,
    &__authors {
      text-align: center;
      
      @include media-breakpoint-up(sm) {
        text-align: left;
      }
    }

    &__title {
      color: $gray-700;
      text-transform: none;
    }

    &__authors-wrapper {
      @include fluid-units(
        'padding-top',
        1,
        5,
        strip-unit(rem(bp(small))),
        strip-unit(rem(bp(large)))
      );
      // margin-top: spacer(6);
    }

    &__authors {
      margin-bottom: 0;
    }

    &__body {
      img {
        max-width: 100%;
      }

      figure {
        border: $border-width solid $border-color;
        border-radius: $border-radius;
        padding: spacer(3);

        figcaption {
          margin-top: spacer(3);
          padding-top: spacer(3);
          border-top: $border-width solid $border-color;
        }
      }

      .float-right {
        float: right;
        width: 50%;
        margin: rem(32);
        margin-right: 0;
      }

      .float-left {
        float: left;
        width: 50%;
        margin: rem(32);
        margin-left: 0;
      }
    }
  }

  &__recirc {
    background-color: $policy-cream;
  }
}

.reflection__recirc,
.reflections {
  &__post {
    &__title {
      font-family: $font-stack__sans !important;
      font-weight: $font-weight__bold;
      margin-bottom: spacer(2);

      a {
        text-decoration: none;

        @include hover-focus() {
          text-decoration: $link-decoration;
        }
      }
    }

    &__authors {
      font-weight: $font-weight__bold;
      margin-bottom: spacer(1);
    }

    .lead {
      font-size: inherit;
      font-weight: $font-weight__normal;
      margin-bottom: spacer(4);

      @include media-breakpoint-up(sm) {
        margin-bottom: spacer(5);
      }
    }
  }

  &__landing-link {
    color: $policy-blue;
    font-family: $font-stack__custom;
  }
}

.author__link {
  display: inline-block;
}

// Landing page
.page__reflections {
  .reflections {
  background: $white;

    &__header {
      background-color: $policy-blue;
      color: $white;
    }

    &__title {
      color: $white;
      margin-bottom: spacer(2);
    }
  }
}
