// Various sections and utilities

.s {

  // Primary and dark color themes
  // Using the darker version for accessibility
  &__dark ,
  &__primary {
    a {
      color: $white;

      &[href^=tel] {
        color: inherit;
      }

      @include hover-focus {
        color: $tint__policy-blue__lightest;
      }
    }
  }

  &__primary {
    background-color: $tint__policy-blue__rich;
    color: $white;
  }

  &__dark {
    background-color: gray("700");
    color: $white;
  }

  // Light themes
  &__light {
    background-color: #F6F4BC;
  }

  &__white {
    background-color: $white;
  }

  &__green {
    background-color: #D1E8C1;
  }

  &__blue {
    background-color: #B5C4E7;
  }

  &__gray {
    background-color: #F1F4F9;
  }



}
