// Various sections and utilities

.s {
  
  // Primary and dark color themes
  // Using the darker version for accessibility
  &__dark ,
  &__primary {
    a {
      color: $white;
      
      &[href^=tel] {
        color: inherit;
      }
      
      @include hover-focus {
        color: $tint__policy-blue__lightest;
      }
    }
  }
  
  &__primary {
    background: top center no-repeat url('../img/splatter-pattern.png') $policy-blue;
    background-size: 100% auto;
    color: $white;
  }
  
  &__dark {
    background-color: $tint__policy-blue__rich;
    color: $white;
  }

  &__primary,
  &__dark {
    #{$all-headings} {
      color: $white;
    }
  }

  // Light themes
  &__light {
    background-color: theme-color("light");
  }
  
  &__light-splatter {
    background: top center no-repeat url('../img/splatter-pattern.png') theme-color("light");
    background-size: 100% auto;
  }
  
  &__sky {
    background-color: $policy-sky;
  }
  
  &__lil-splatter {
    background-image: url('../img/splatter-pattern.png');
    background-position: 0 -370px;
    background-repeat: no-repeat;
  }
  
  &__white {
    background-color: $white;
  }
  
  &__green {
    background: top center no-repeat url('../img/splatter-pattern.png') $policy-green;
    background-size: 100% auto;
    color: $tint__policy-blue__rich;
  }
  
  &__gray {
    background-color: gray("200");
  }
}
