.layout__team {
  // account for the positioned navbar
  padding-top: $nav-height__sm;

  @include media-breakpoint-up(lg) {
    padding-top: $nav-height__lg;
  }
  
  .l-wrapper {
    padding-top: 0;
  }
}

.team {

  &__photo {
    margin: 0 auto $spacer;
    max-width: em(280);
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  &__link {
    display: block;
    text-decoration: none;
  }
  
  &__link img {
    transform: scale(1,1);
    transition: transform 500ms ease;
  }
  
  &__link:hover img,
  &__link:focus img {
    transform: scale(1.06,1.06);
  }
  
  &__name {
    font-family: $font-stack__custom;
  }
  
  &__link &__name {
    color: gray("700");
    text-decoration: none;
    border-bottom: 1px solid rgba($policy-blue, 0);
    transition: transform 500ms ease;
  }
  
  // When team cards are on a dark bg
  .s__dark &__link &__name, 
  .s__primary &__link &__name {
    color: $tint__policy-blue__lightest;
  }
  
  &__link:hover &__name,
  &__link:focus &__name {
    color: $policy-blue;
    border-bottom-color: rgba($policy-blue, 1);
    text-decoration: none;
  }
  
  // When team cards are on a dark bg
  .s__dark &__link &__name, 
  .s__primary &__link &__name {
    color: $tint__policy-blue__lightest;
    border-bottom-color: rgba($tint__policy-blue__lightest, 0);
  }
  
  .s__dark &__link:hover &__name,
  .s__dark &__link:focus &__name, 
  .s__primary &__link:hover &__name,
  .s__primary &__link:focus &__name {
    color: $white;
    border-bottom-color: rgba($tint__policy-blue__lightest, 1);
  }
  
  // Individual profile page
  &__member {
    
    &__profile {}
    
    &__header {}
    
    &__name {
      display: flex;
      flex-direction: column;
    }
    
    &__title {
      color: gray('700');
      text-transform: capitalize;
    }
    
    &__position {}
    
    &__title,
    &__position {
      text-align: center;
      
      @include media-breakpoint-up(sm) {
        text-align: left;
      }
    }
    
    &__meta {
      margin-top: auto;
    }
    
    &__img {
      width: 100%;
    }
    
    &__social {
      display: inline-block;
      margin-bottom: ($spacer * 1.5);
      text-decoration: none;
      max-width: 48px;
      transition: $transition;
      transform: translateY(0);
      width: 18%;
      
      svg {
        width: 100%;
        height: 100%;
        
        path {
          fill: $tint__policy-blue__rich;
          transition: $transition;
        }
      }
      
      @include hover-focus {
        transform: translateY(-4px);
        
        svg path {
          fill: $policy-blue;
        }
      }
      
      @include media-breakpoint-up(lg) {
        margin-top: ($spacer * 2);
      }
    }
    
    &__social + &__social {
      margin-left: 5%;
    }
    
    &__bio {}
  }
}
