<!DOCTYPE html>
<html class="no-js" lang="en-US">

  {% include head.html %}

  <body class="layout__{{ page.layout }} page__{{ page.body-class }} page__{{ layout.body-class }}" data-spy="scroll" data-target="#main-nav">
    <div id="top" class="l-wrapper">

      {% unless page.show-nav == false  %}
        {% include navigation.html %}
      {% endunless %}
      
      {{ content }}
      
      {% unless page.show-foot == false  %}
        {% include footer.html %}
      {% endunless %}
    </div>
    
    {% include subfooter.html %}
  </body>
</html>
