---
layout: default
body-class: project presentation
---
{% comment %}

  Reflection items in object:
  - page.title
  - page.permalink
  - page.content

{% endcomment %}

<section id="content" class="layout__main s__white project">
  <div class="project__content u__vspacing">
    <header class="project__content__header u__spacing">
      <div class="row u__container justify-content-center text-center">
        <div class="col-12 project__content__landing-link-wrapper">
          <hr />
          <a href="{% link reflections.html %}" class="project__content__landing-link">Projects</a>
        </div>
        <div class="col-9 project__content__title-wrapper">
          <h1 class="project__content__title display-5 my-4">{{ page.title }}</h1>
          {% if page.subtitle %}
            <p class="project__content__subtitle">{{ page.subtitle }}</p>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="row flex-row-reverse u__container">
      <article class="col-lg-9 project__content__body">
        <div class="s__blue project__content__body__summary mb-4 mb-lg-5">
          <h2 class="lead">Project Summary</h2>
          {{ page.excerpt }}
        </div>
        {{ content | remove: page.excerpt }}

      </article>

      <div class="col-lg-3">
        <aside class=" s__light project__content__aside">
          <ul class="project__content__aside__list">
            {% for meta in page.aside %}
              <li>
                <p class="lead">{{ meta[0] | capitalize }}</p>
                {% for inner_meta in meta[1] %}
                  {% if inner_meta.link %}
                    <p><a href="{{ inner_meta.link }}">{{ inner_meta.name }}</a></p>
                  {% else %}
                    <p>{{ inner_meta }}</p>
                  {% endif %}
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div>

  </div>

  <aside class="u__vspacing s__primary project__recirc">
    <div class="u__container u__spacing">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="h1">More Projects</h2>
        </div>
        <div class="col-sm-4 project__recirc__post text-center">
          <span class="project__recirc__post__meta">Name of Method</span>
          <h3 class="project__recirc__post__title h4"><a href="">Can discounted transit improve mobility and well-being for low-income residents</a></h3>
        </div>
        <div class="col-sm-4 project__recirc__post text-center">
          <span class="project__recirc__post__meta">Name of Method</span>
          <h3 class="project__recirc__post__title h4"><a href="">Can discounted transit improve mobility and well-being for low-income residents</a></h3>
        </div>
        <div class="col-sm-4 project__recirc__post text-center">
          <span class="project__recirc__post__meta">Name of Method</span>
          <h3 class="project__recirc__post__title h4"><a href="">Can discounted transit improve mobility and well-being for low-income residents</a></h3>
        </div>
        <div class="col-sm-4 project__recirc__post text-center">
          <span class="project__recirc__post__meta">Name of Method</span>
          <h3 class="project__recirc__post__title h4"><a href="">Can discounted transit improve mobility and well-being for low-income residents</a></h3>
        </div>
        <div class="col-sm-4 project__recirc__post text-center">
          <span class="project__recirc__post__meta">Name of Method</span>
          <h3 class="project__recirc__post__title h4"><a href="">Can discounted transit improve mobility and well-being for low-income residents</a></h3>
        </div>
      </div>
    </div>
  </aside>

  <aside class="u__vspacing s__light s__primary-clean">
    <div class="u__container u__spacing connect">
      <div class="row">
        <div class="col-md-3 col-lg-4">
          <h2 class="h1">Get Updates</h2>
        </div>
        <div class="col-md-9 col-lg-8">
          <p class="lead">Sign up to get updates on projects, events, and new episodes of our podcast, <a href="https://thirtythousandleagues.com/">30,000 Leagues</a></p>

          {% include mailchimp.html %}

        </div>
      </div>
    </div>
  </aside>

</section>
