---
layout: default
body-class: reflection
---
{% comment %}

  Reflection items in object:
  - page.title
  - page.permalink
  - page.img (example.jpg)
  - page.authors
  - page.tease
  - page.content

{% endcomment %}

<section id="content" class="layout__main reflection">
  <div class="reflection__content">
    {% if page.img %}
      <div class="reflection__content__img-wrapper">
        <div style="background-image: url({{ '/' | relative_url }}assets/img/reflections/{{ page.img }})" class="img--rwd reflection__content__img">
        </div>
      </div>
    {% endif %}
    <header class="reflection__content__header u__spacing">
      <div class="row u__container">
        <div class="col-sm-7 reflection__content__title-wrapper">
          <a href="{% link reflections.html %}" class="reflection__content__landing-link">Reflections</a>
          <h1 class="reflection__content__title display-5 pt-4 mb-2">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row u__container">
        <div class="col-sm-8 reflection__content__authors-wrapper">
          <p class="reflection__content__authors">
            By 
              {% for author in page.authors %}
                {% include byline.html %}
              {% endfor %}
          </p>
        </div>
      </div>
    </header>

    <article class="container u__container u__vspacing reflection__content__body">
      <div class="row">
        <div class="col-sm-9 col-lg-8">

          {{ content }}

        </div>
      </div>
    </article>
  </div>

  <aside class="u__vspacing reflection__recirc">
    <div class="u__container u__spacing">
      <div class="row">
        <div class="col-12">
          <h2 class="h1">More Reflections</h2>
        </div>
        {% assign counter = 0 %}
        {% for reflection in site.reflections %}
          {% if reflection.title != page.title and counter <= 4 %}
            <div class="col-sm-6 reflection__recirc__post">
              <h3 class="reflection__recirc__post__title h4"><a href="{{ reflection.url }}">{{ reflection.title }}</a></h3>
              <p class="reflection__recirc__post__authors">
                By 
                {% for author in reflection.authors %}
                {% include byline.html %}
                {% endfor %}
              </p>
              {{ reflection.excerpt }}
            </div>
            {% endif %}
          {% assign counter = counter | plus:1 %}
        {% endfor %}
        <div class="col-12">
          <a href="{% link reflections.html %}" class="reflection__recirc__landing-link h4">All Reflections</a>
        </div>
      </div>
    </div>
  </aside>

  <aside class="u__vspacing s__primary s__primary-clean">
    <div class="u__container u__spacing connect">
      <div class="row">
        <div class="col-md-3 col-lg-4">
          <h2 class="h1">Get Updates</h2>
        </div>
        <div class="col-md-9 col-lg-8">
          <p class="lead">Sign up to get updates on projects, events, and new episodes of our podcast, <a href="https://thirtythousandleagues.com/">30,000 Leagues</a></p>

          {% include mailchimp.html %}

        </div>
      </div>
    </div>
  </aside>

</section>
