---
layout: default
body-class: reflection
---
{% comment %}

  Reflection items in object:
  - page.title
  - page.permalink
  - page.img (example.jpg)
  - page.authors
  - page.content

{% endcomment %}

<section id="content" class="layout__main reflection">
  <div class="reflection__content">
    {% if page.img %}
      <div class="reflection__content__img-wrapper">
        <div style="background-image: url({{ '/' | relative_url }}assets/img/reflections/{{ page.img }})" class="img--rwd reflection__content__img">
        </div>
      </div>
    {% endif %}
    <header class="reflection__content__header u__spacing">
      <div class="row u__container">
        <div class="col-sm-7 reflection__content__title__wrapper">
          <a href="/reflections" class="reflection__content__reflections-link">Reflections</a>
          <h1 class="reflection__content__title team__member__title display-5 pt-4 mb-2">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row u__container">
        <div class="col-sm-8 reflection__content__authors-wrapper">
          <p class="reflection__content__authors">
            {{ 'By ' }}
            {% for author in page.authors %}
              {% if forloop.length == 1 %}
                <a href="{{ '/team/' | relative_url }}{{ author | slugify }}" class="relfection__content__author__link">{{ author }}</a>
              {% elsif forloop.length == 2 %}
                <a href="{{ '/team/' | relative_url }}{{ author | slugify }}" class="relfection__content__author__link">{{ author }}</a>
                {% if forloop.last %}
                  and <a href="{{ '/team/' | relative_url }}{{ author | slugify }}" class="relfection__content__author__link">{{ author }}</a>
                {% endif %}
              {% elsif forloop.length > 2 %}
                {% if forloop.last %}
                  and <a href="{{ '/team/' | relative_url }}{{ author | slugify }}" class="relfection__content__author__link">{{ author }}</a>
                {% else %}
                  <a href="{{ '/team/' | relative_url }}{{ author | slugify }}" class="relfection__content__author__link">{{ author }}</a>, 
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </header>

    <article class="container u__container u__vspacing team__member__bio">
      <div class="row">
        <div class="col-sm-9 col-lg-8">

          {{ content }}

        </div>
      </div>
    </article>
  </div>

  <aside class="u__vspacing s__primary s__primary-clean">
    <div class="u__container u__spacing connect">
      <div class="row">
        <div class="col-md-3 col-lg-4">
          <h2 class="h1">Get Updates</h2>
        </div>
        <div class="col-md-9 col-lg-8">
          <p class="lead">Sign up to get updates on projects, events, and new episodes of our podcast, <a href="https://thirtythousandleagues.com/">30,000 Leagues</a></p>

          {% include mailchimp.html %}

        </div>
      </div>
    </div>
  </aside>

</section>
