// Color variables

// Main brand colors
$blue__cyan: #6ecded;

// Brand color tints
$blue-tint__lightest: #d6f4ff;
$blue-tint__dark: #1587ac;

// Monochromatic scale
$white:    #fff;
//$gray-100: #f8f9fa !default;
$gray-200: #e1e1e5;
$gray-300: #bcbbc4;
$gray-400: #a4a2ae;
$gray-500: #797788;
$gray-600: #504e5a;
$gray-700: #3d3c45;
//$gray-800: #343a40 !default;
$gray-900: #222;
$black:    #101010;

$colors: () !default;
$colors: (
  blue: $blue__cyan,
  dark-blue: $blue-tint__dark,
  lightest-blue: $blue-tint__lightest,
  'white': $white,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  gray-600: $gray-600,
  gray-700: $gray-700,
  gray-900: $gray-900,
  'black': $black,
);

// Map-getter for theme Colors
@function palette($color) {
  @return map-get($colors, $color);
}

// Generic variables
$color__body-fg: palette(gray-900);
$color__body-bg: palette('white');

$color__link: palette(fire);
$color__link-hover: palette(ice);
$color__link-focus: palette(ice);

$color__borders: palette(gray-200);
