// Body Classes
.layout__default {
  min-height: 100vh;
  position: relative;
  z-index: z(page);
}

.page {
  &__home {}
}


// Page layout wrapper with the gradient
.l-wrapper {
  color: $gray-700;
  overflow: hidden;
  position: relative;
  padding-top: ($spacer * 3);

  @include media-breakpoint-up(sm) {
    padding-top: $spacer;
  }

  .layout__team & {
    background-color: $white;
  }

  &__flex {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: space-between;
      padding-top: $vertical-rhythm;
    }
  }
  
  // Overrides based on a body class
  .presentation & {
    padding-top: 0;
  }
}

// Main page element
.main {
  
  &__header {
    @include hide;

    @include media-breakpoint-up(lg) {
      @include show();
    }
  }
  
  &__content {
    @include media-breakpoint-up(lg) {
      margin-top: -2rem;
      padding-bottom: 1rem;
    }
    
    @include media-breakpoint-up(xl) {
      margin-top: -4rem;
      padding-bottom: 2rem;
    }
  }
  
  //&__article {}
}
